:host {
  padding: 10px;
  background-color: white;
  position: fixed;
  top: 10px;
  width: 320px;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 0 2px 0 black;

  progress {
    width: 100%;
  }
}
